#gallery-wrapper{
	
	vertical-align: 10px;
	
}

.one img{
	width: 31%;
	height:60%;
	float: left;
	
}

.caption-zero{
	border: 1px solid blue;
	background-color: blue;
	color: yellow;
	width: 30.88%;
	margin-top: -3px;
}
.caption-one{
	
	width: 30%;
	position: absolute;
	right: 38%;
	top: 41%;
	background-color: blue;
	color: yellow;
	text-align: center;
	margin-top: -1%;

}
.caption-two{
	
	width: 30%;
	position: absolute;
	left: 65%;
	top: 41%;
	background-color: blue;
	color: yellow;
	text-align: center;
	margin-top: -1%;
	}

body{
	font-family: 'Quantico' normal;
}

.landscape img{
	width: 30%;
	float: top;
	display: inline-block;

}
.landscape-one img{
	width: 30%;
	display: block;
	position: relative;
	left: 65%;
	margin-top: -47.75%;

	}
.two img{
	width: 30%;
	position: absolute;
	right: 20%;
	top: 2%;
	left: 32%;
	
}
.three img{
	width: 30%;
	position: absolute;
	right: 50%;
	top: 2%;
	left: 5%;
	text-align: right;

}
